header.main-header
  // Logo
  a.logo(href='index2.html')
    // mini logo for sidebar mini 50x50 pixels
    span.logo-mini
      b A
      | LT
    // logo for regular state and mobile devices
    span.logo-lg
      b BAM
  nav.navbar.navbar-static-top(role='navigation')
    a.sidebar-toggle(href='#', data-toggle='offcanvas', role='button')
      span.sr-only Toggle navigation
// Left side column. contains the logo and sidebar1
