aside.main-sidebar
  section.sidebar
    div.user-panel
      div.pull-left.image 
        img(src="../bower_components/AdminLTE/dist/img/user2-160x160.jpg").img-circle
    form.sidebar-form
      div.input-group
        input(type=text,ng-model=q,placeholder=Search).form-control
        span.input-group-btn
          button[type=submit,name=search].btn.btn-flat
            i.fa.fa-search 
